<div class="products-page">
  <div class="header">
    <h2>Produits</h2>
    <button class="btn btn-primary" (click)="openCreateForm()">+ Nouveau produit</button>
  </div>

  <div class="alert alert-error" *ngIf="errorMessage">{{ errorMessage }}</div>
  <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>

  <div class="form-panel" *ngIf="showForm">
    <h3>{{ isEditMode ? 'Modifier le produit' : 'Nouveau produit' }}</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <label>Référence *</label>
        <input formControlName="reference" type="text" />
        <span class="field-error" *ngIf="form.get('reference')?.touched && form.get('reference')?.invalid">
          Obligatoire.
        </span>
      </div>

      <div class="form-row">
        <label>Nom *</label>
        <input formControlName="nom" type="text" />
        <span class="field-error" *ngIf="form.get('nom')?.touched && form.get('nom')?.invalid">
          Obligatoire.
        </span>
      </div>

      <div class="form-row">
        <label>Description</label>
        <textarea formControlName="description"></textarea>
      </div>

      <div class="form-row">
        <label>Prix unitaire HT *</label>
        <input formControlName="prixUnitaireHT" type="number" step="0.01" />
        <span class="field-error" *ngIf="form.get('prixUnitaireHT')?.touched && form.get('prixUnitaireHT')?.invalid">
          Doit être positif.
        </span>
      </div>

      <div class="form-row">
        <label>Quantité en stock *</label>
        <input formControlName="quantiteEnStock" type="number" />
        <span class="field-error" *ngIf="form.get('quantiteEnStock')?.touched && form.get('quantiteEnStock')?.invalid">
          Doit être positive.
        </span>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" (click)="cancelForm()">Annuler</button>
      </div>
    </form>
  </div>

  <p *ngIf="loading">Chargement...</p>

  <table *ngIf="!loading && products.length > 0">
    <thead>
      <tr>
        <th>Référence</th>
        <th>Nom</th>
        <th>Prix HT</th>
        <th>Stock</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.reference }}</td>
        <td>{{ product.nom }}</td>
        <td>{{ product.prixUnitaireHT | number:'1.2-2' }} €</td>
        <td>{{ product.quantiteEnStock }}</td>
       <td>
  <a [routerLink]="['/products', product.id]" class="btn-link">Détail</a>
  <button class="btn-link" (click)="openEditForm(product)">Modifier</button>
  <button class="btn-link btn-danger" (click)="deleteProduct(product.id)">Supprimer</button>
</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!loading && products.length === 0">Aucun produit trouvé.</p>
</div>